/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    color: #333;
}

button {
    outline: none;
}

button:focus {
    outline: none;
}

input, select, textarea {
    font-family: inherit;
    font-size: 16px;
}
